In [ ]:
import pandas as pd
from datetime import date

fileList = []

#Cargar los archivos excel
def loadExcel () : 
  i = 1
  while i < 8:
    loadList = 'dm2019-01-0'+str(i)+'.xls'
    fileList.append(loadList)
    i += 1
loadExcel()
print(fileList)

['dm2019-01-01.xls', 'dm2019-01-02.xls', 'dm2019-01-03.xls', 'dm2019-01-04.xls', 'dm2019-01-05.xls', 'dm2019-01-06.xls', 'dm2019-01-07.xls']

In [ ]:
def loadDateTime () :
  i = 0
  while i < len(fileList):
    #Leer excel
    df = pd.read_excel(fileList[i])
    #Crear fecha
    createDate = df.iloc[1 , 0].split(",")[1].strip(' ').split(" ")
    createDate[1] = 1
    fixDate = date(int(createDate[2]) , createDate[1] , int(createDate[0]))
    #Crear columna y cargar fecha
    df['Fecha'] = pd.to_datetime(fixDate)
    fileList[i] = df
    i += 1
loadDateTime()
#Concatenar la data
#df = pd.concat(map(pd.DataFrame, fileList))
df = pd.concat(fileList)

In [ ]:
#Indique la cantidad de filas y columnas
print(f'Filas: {df.shape[0]}, Columnas: {df.shape[1]}\n')
#Indique los tipos de dato de las columnas.
print('Tipo de datos de las columnas')
print(df.dtypes)

Filas: 5607, Columnas: 13

Tipo de datos de las columnas
España                 object
Unnamed: 1             object
Unnamed: 2             object
Unnamed: 3             object
Unnamed: 4             object
Unnamed: 5             object
Unnamed: 6             object
Unnamed: 7             object
Unnamed: 8             object
Unnamed: 9             object
Unnamed: 10            object
Unnamed: 11            object
Fecha          datetime64[ns]
dtype: object

In [ ]:
#DataFrame Original
display(df)

,España,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Fecha
0,"Actualizado: miércoles, 02 enero 2019 a las 18...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-01
1,"Fecha: martes, 01 enero 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-01
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-01
3,Estación,Provincia,Temperatura máxima (ºC),Temperatura mínima (ºC),Temperatura media (ºC),Racha (km/h),Velocidad máxima (km/h),Precipitación 00-24h (mm),Precipitación 00-06h (mm),Precipitación 06-12h (mm),Precipitación 12-18h (mm),Precipitación 18-24h (mm),2019-01-01
4,Estaca de Bares,A Coruña,11.0 (20:20),8.7 (04:10),9.8,61 (16:30),39 (18:40),0,0,0,0,0,2019-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,"Zaragoza, Valdespartera",Zaragoza,9.8 (15:30),3.0 (06:10),6.4,64 (10:50),38 (10:50),0,0,0,0,0,2019-01-07
797,Leciñena,Zaragoza,10.5 (15:10),-5.2 (06:50),2.7,15 (13:20),9 (16:40),0,0,0,0,0,2019-01-07
798,Valmadrid,Zaragoza,8.1 (00:00),1.9 (08:30),5,80 (00:10),58 (00:10),0,0,0,0,0,2019-01-07
799,Quinto,Zaragoza,10.5 (15:20),2.8 (08:00),6.6,57 (11:00),30 (11:20),0,0,0,0,0,2019-01-07
800,Caspe,Zaragoza,10.2 (15:50),2.1 (06:50),6.1,41 (11:50),31 (11:50),0,0,0,0,0,2019-01-07

In [ ]:
#Limpiar los datos (sin destruir el dataframe original):
#Eliminar las filas a las que les faltan los datos numéricos (nan)
#Creamos una copia del DataFrame usando 'dropna()'
#datosMtDF = df.dropna()
datosMtDF = df.copy()
#Obtener columnas
getColumn = []
def loadColumns () :
  df = fileList[0]
  i = 0
  while i < df.shape[1]-1:
    selectColumn = df.iloc[3 , i]
    getColumn.append(selectColumn)
    i += 1
  getColumn.append('Fecha de muestra')
loadColumns()
print(getColumn)
print(len(getColumn))
#Renombrar las columnas más importantes.
i = 0
datosMtColumn = list(datosMtDF.columns)
while i < len(getColumn):
  datosMtDF = datosMtDF.rename(columns={datosMtColumn[i] : getColumn[i]})
  i += 1
datosMtDF = datosMtDF.drop(index=3)
#datosMtDF = datosMtDF.reset_index(drop=True)
#Código del profesor
#Para limpieza del dataset
estaciones_con_nan=datosMtDF[datosMtDF.isnull().any(axis=1)]['Estación'].unique()
datosMtDF.drop(datosMtDF[datosMtDF['Estación'].isin(estaciones_con_nan)].index, inplace=True)
print(f'Filas: {datosMtDF.shape[0]}, Columnas: {datosMtDF.shape[1]}\n')

['Estación', 'Provincia', 'Temperatura máxima (ºC)', 'Temperatura mínima (ºC)', 'Temperatura media (ºC)', 'Racha (km/h)', 'Velocidad máxima (km/h)', 'Precipitación 00-24h (mm)', 'Precipitación 00-06h (mm)', 'Precipitación 06-12h (mm)', 'Precipitación 12-18h (mm)', 'Precipitación 18-24h (mm)', 'Fecha de muestra']
13
Filas: 4193, Columnas: 13

In [ ]:
#Limpiar y convertir las columnas que deben ser numéricas
datosMtDF['Temperatura máxima (ºC)'] = datosMtDF['Temperatura máxima (ºC)'].str.split(" ").str[0].apply(pd.to_numeric)
datosMtDF['Temperatura mínima (ºC)'] = datosMtDF['Temperatura mínima (ºC)'].str.split(" ").str[0].apply(pd.to_numeric)
datosMtDF['Racha (km/h)'] = datosMtDF['Racha (km/h)'].str.split(" ").str[0].apply(pd.to_numeric)
datosMtDF['Velocidad máxima (km/h)'] = datosMtDF['Velocidad máxima (km/h)'].str.split(" ").str[0].apply(pd.to_numeric)
datosMtDF = datosMtDF.convert_dtypes()
print(datosMtDF.dtypes)

Estación                             string
Provincia                            string
Temperatura máxima (ºC)             Float64
Temperatura mínima (ºC)             Float64
Temperatura media (ºC)              Float64
Racha (km/h)                          Int64
Velocidad máxima (km/h)               Int64
Precipitación 00-24h (mm)           Float64
Precipitación 00-06h (mm)           Float64
Precipitación 06-12h (mm)           Float64
Precipitación 12-18h (mm)           Float64
Precipitación 18-24h (mm)           Float64
Fecha de muestra             datetime64[ns]
dtype: object

In [ ]:
display(datosMtDF)

,Estación,Provincia,Temperatura máxima (ºC),Temperatura mínima (ºC),Temperatura media (ºC),Racha (km/h),Velocidad máxima (km/h),Precipitación 00-24h (mm),Precipitación 00-06h (mm),Precipitación 06-12h (mm),Precipitación 12-18h (mm),Precipitación 18-24h (mm),Fecha de muestra
4,Estaca de Bares,A Coruña,11.0,8.7,9.8,61,39,0.0,0.0,0.0,0.0,0.0,2019-01-01
6,A Coruña,A Coruña,13.9,5.1,9.5,15,10,0.0,0.0,0.0,0.0,0.0,2019-01-01
7,A Coruña Aeropuerto,A Coruña,14.2,0.0,7.1,24,15,0.0,0.0,0.0,0.0,0.0,2019-01-01
9,Cabo Vilan,A Coruña,13.6,8.0,10.8,20,14,0.0,0.0,0.0,0.0,0.0,2019-01-01
11,Fisterra,A Coruña,13.3,8.4,10.8,23,19,0.0,0.0,0.0,0.0,0.0,2019-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,"Zaragoza, Valdespartera",Zaragoza,9.8,3.0,6.4,64,38,0.0,0.0,0.0,0.0,0.0,2019-01-07
797,Leciñena,Zaragoza,10.5,-5.2,2.7,15,9,0.0,0.0,0.0,0.0,0.0,2019-01-07
798,Valmadrid,Zaragoza,8.1,1.9,5.0,80,58,0.0,0.0,0.0,0.0,0.0,2019-01-07
799,Quinto,Zaragoza,10.5,2.8,6.6,57,30,0.0,0.0,0.0,0.0,0.0,2019-01-07
800,Caspe,Zaragoza,10.2,2.1,6.1,41,31,0.0,0.0,0.0,0.0,0.0,2019-01-07

In [ ]:
#Analizar e indicar los siguientes puntos:
#Estadísticas count, mean, std, min, max, percentiles 25%, 50% y 75%.
display(datosMtDF.describe())

,Temperatura máxima (ºC),Temperatura mínima (ºC),Temperatura media (ºC),Racha (km/h),Velocidad máxima (km/h),Precipitación 00-24h (mm),Precipitación 00-06h (mm),Precipitación 06-12h (mm),Precipitación 12-18h (mm),Precipitación 18-24h (mm)
count,4193.0,4193.0,4193.0,4193.0,4193.0,4193.0,4193.0,4193.0,4193.0,4193.0
mean,13.790293,1.376675,7.58507,24.711185,15.121631,0.006201,0.001145,0.003959,0.000763,0.000334
std,4.297199,5.581391,4.390239,12.469115,8.412067,0.051223,0.02203,0.035133,0.014303,0.011133
min,-1.4,-12.1,-3.6,2.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,11.1,-2.6,4.5,16.0,9.0,0.0,0.0,0.0,0.0,0.0
50%,14.1,0.6,7.1,21.0,13.0,0.0,0.0,0.0,0.0,0.0
75%,16.8,4.4,10.0,31.0,19.0,0.0,0.0,0.0,0.0,0.0
max,25.6,19.1,21.0,105.0,66.0,1.2,0.6,1.0,0.6,0.6

In [ ]:
#Medias por provincia.
display(datosMtDF.groupby(getColumn[1]).mean(numeric_only=True))

,Temperatura máxima (ºC),Temperatura mínima (ºC),Temperatura media (ºC),Racha (km/h),Velocidad máxima (km/h),Precipitación 00-24h (mm),Precipitación 00-06h (mm),Precipitación 06-12h (mm),Precipitación 12-18h (mm),Precipitación 18-24h (mm)
Provincia,,,,,,,,,,
A Coruña,13.149206,3.119048,8.136508,30.126984,19.968254,0.006349,0.001587,0.004762,0.0,0.0
Alacant/Alicante,16.477143,2.438571,9.464286,21.4,13.371429,0.005714,0.002857,0.002857,0.0,0.0
Albacete,13.885714,-2.67551,5.612245,20.55102,10.714286,0.0,0.0,0.0,0.0,0.0
Almería,17.021429,6.096429,11.558929,25.232143,16.75,0.0,0.0,0.0,0.0,0.0
Araba/Álava,8.462857,-2.84,2.811429,23.285714,13.628571,0.0,0.0,0.0,0.0,0.0
Asturias,10.669048,0.663492,5.669048,23.420635,14.484127,0.001587,0.0,0.001587,0.0,0.0
Badajoz,15.044099,0.16087,7.603727,16.695652,11.416149,0.010559,0.0,0.009317,0.001242,0.0
Barcelona,13.013333,1.22,7.12,22.609524,13.142857,0.002857,0.0,0.002857,0.0,0.0
Bizkaia,8.491837,1.744898,5.122449,19.326531,11.22449,0.093878,0.004082,0.071429,0.018367,0.0
Burgos,9.67381,-4.052381,2.810714,26.952381,18.392857,0.002381,0.0,0.002381,0.0,0.0
Cantabria,9.853571,-0.327679,4.759821,21.339286,13.026786,0.001786,0.0,0.001786,0.0,0.0
Castelló/Castellón,13.773214,1.65,7.716071,26.857143,17.232143,0.003571,0.0,0.003571,0.0,0.0
Ceuta,17.785714,11.614286,14.7,30.428571,17.0,0.0,0.0,0.0,0.0,0.0
Ciudad Real,14.214286,-0.873469,6.667347,16.734694,9.571429,0.0,0.0,0.0,0.0,0.0
Cuenca,13.820635,-3.149206,5.328571,21.555556,12.333333,0.0,0.0,0.0,0.0,0.0
Cáceres,14.033673,1.194388,7.615816,20.47449,12.841837,0.005612,0.0,0.003571,0.00102,0.00102
Cádiz,17.265306,5.161224,11.218367,26.571429,16.377551,0.00102,0.00102,0.0,0.0,0.0
Córdoba,16.058571,0.648571,8.352857,18.271429,11.828571,0.008571,0.0,0.008571,0.0,0.0
Gipuzkoa,7.032143,0.802381,3.922619,17.654762,9.27381,0.096429,0.036905,0.039286,0.008333,0.011905
Girona,14.82381,0.391429,7.610476,31.495238,16.095238,0.000952,0.0,0.000952,0.0,0.0
Granada,15.917857,1.45,8.678571,19.321429,11.0,0.0,0.0,0.0,0.0,0.0
Guadalajara,13.271429,-3.928571,4.677143,20.885714,11.942857,0.0,0.0,0.0,0.0,0.0
Huelva,16.968831,3.119481,10.042857,19.363636,11.649351,0.009091,0.0,0.009091,0.0,0.0
Huesca,10.450649,-1.17013,4.643506,25.967532,14.285714,0.007792,0.0,0.005195,0.002597,0.0
Illes Balears,15.758163,3.955612,9.860204,31.867347,18.520408,0.001531,0.0,0.001531,0.0,0.0
Jaén,15.157143,1.567857,8.366071,16.535714,9.446429,0.003571,0.0,0.0,0.003571,0.0
La Rioja,10.602857,-0.642857,4.974286,34.028571,21.085714,0.0,0.0,0.0,0.0,0.0
Las Palmas,19.562698,12.619444,16.09246,34.769841,21.583333,0.0,0.0,0.0,0.0,0.0
León,12.867857,-4.067857,4.4,17.214286,12.089286,0.0,0.0,0.0,0.0,0.0
Lleida,9.258442,-2.04026,3.607792,26.272727,14.909091,0.0,0.0,0.0,0.0,0.0
Lugo,10.96,1.057143,6.017143,23.485714,12.857143,0.017143,0.0,0.017143,0.0,0.0
Madrid,14.336735,-1.966327,6.187755,18.112245,10.673469,0.0,0.0,0.0,0.0,0.0
Melilla,17.314286,8.185714,12.757143,23.285714,14.428571,0.0,0.0,0.0,0.0,0.0
Murcia,16.990476,1.634286,9.310476,21.714286,13.704762,0.00381,0.0,0.00381,0.0,0.0
Málaga,17.719328,6.328571,12.023529,24.420168,14.579832,0.0,0.0,0.0,0.0,0.0
Navarra,9.508036,-0.791071,4.359821,37.160714,22.410714,0.016071,0.009821,0.004464,0.0,0.001786
Ourense,12.846429,-4.264286,4.282143,12.428571,7.571429,0.0,0.0,0.0,0.0,0.0
Palencia,12.094643,-2.441071,4.830357,29.428571,18.196429,0.0,0.0,0.0,0.0,0.0
Pontevedra,14.991429,2.205714,8.608571,20.514286,12.171429,0.0,0.0,0.0,0.0,0.0
Salamanca,10.158163,-4.127551,3.021429,23.489796,15.959184,0.002041,0.0,0.002041,0.0,0.0
Santa Cruz de Tenerife,19.012637,11.01044,15.012088,34.89011,22.461538,0.0,0.0,0.0,0.0,0.0
Segovia,9.973469,-3.110204,3.436735,21.0,14.489796,0.004082,0.0,0.004082,0.0,0.0
Sevilla,17.032468,2.101299,9.567532,19.337662,12.324675,0.005195,0.0,0.005195,0.0,0.0
Soria,12.616071,-3.2125,4.707143,28.589286,19.017857,0.0,0.0,0.0,0.0,0.0
Tarragona,11.297959,1.710204,6.491837,34.367347,18.77551,0.004082,0.0,0.004082,0.0,0.0
Teruel,11.217857,-2.707143,4.2625,24.303571,15.803571,0.0,0.0,0.0,0.0,0.0
Toledo,13.7,-0.875,6.410714,17.25,10.678571,0.0,0.0,0.0,0.0,0.0
Valladolid,9.778571,-6.064286,1.857143,17.190476,10.214286,0.02381,0.0,0.009524,0.014286,0.0
València/Valencia,16.474725,1.227473,8.857143,19.10989,11.263736,0.0,0.0,0.0,0.0,0.0
Zamora,10.834286,-4.067143,3.382857,19.928571,13.6,0.005714,0.0,0.005714,0.0,0.0
Zaragoza,10.759524,-2.396429,4.179762,29.857143,18.428571,0.0,0.0,0.0,0.0,0.0
Ávila,10.9625,-3.423214,3.766071,19.071429,12.214286,0.003571,0.0,0.003571,0.0,0.0

In [ ]:
#Mayores temperaturas máximas por estación.
print(datosMtDF.groupby(getColumn[0])[getColumn[2]].max().sort_values(ascending=False).head(5))

Estación
La Aldea de San Nicolás             25.6
La Aldea de San Nicolás, Tasarte    25.2
La Palma Aeropuerto                 25.1
Torremolinos                        25.0
Los Silos                           25.0
Name: Temperatura máxima (ºC), dtype: Float64

In [ ]:
#Menores temperaturas mínimas por estación.
display(datosMtDF.groupby([getColumn[12] , getColumn[0] , getColumn[1]])[getColumn[3]].min().sort_values(ascending=True).head(5))

Fecha de muestra  Estación                        Provincia
2019-01-06        Cuéllar                         Segovia      -12.1
                  Sardón de Duero                 Valladolid   -11.8
2019-01-07        Cuéllar                         Segovia      -11.4
2019-01-06        Valderredible, Cubillo de Ebro  Cantabria    -11.3
2019-01-05        Cuéllar                         Segovia      -11.1
Name: Temperatura mínima (ºC), dtype: Float64

In [ ]:
#Mayores rachas de viento en un día por provincia.
print(datosMtDF.groupby(getColumn[1])[getColumn[5]].max().sort_values(ascending=False).head(5))

Provincia
A Coruña         105
Girona            92
Illes Balears     86
Zaragoza          80
Tarragona         78
Name: Racha (km/h), dtype: Int64

In [48]:
#Mostrar cuántas estaciones hay por provincia y un total general.
estacionProv = datosMtDF.groupby(['Provincia'])['Estación'].nunique()
print(estacionProv)

Provincia
A Coruña                   9
Alacant/Alicante          10
Albacete                   7
Almería                    8
Araba/Álava                5
Asturias                  18
Badajoz                   23
Barcelona                 15
Bizkaia                    7
Burgos                    12
Cantabria                 16
Castelló/Castellón         8
Ceuta                      1
Ciudad Real                7
Cuenca                     9
Cáceres                   28
Cádiz                     14
Córdoba                   10
Gipuzkoa                  12
Girona                    15
Granada                    4
Guadalajara                5
Huelva                    11
Huesca                    22
Illes Balears             28
Jaén                       8
La Rioja                   5
Las Palmas                36
León                       8
Lleida                    11
Lugo                       5
Madrid                    14
Melilla                    1
Murcia                    15
Málaga                    17
Navarra                   16
Ourense                    4
Palencia                   8
Pontevedra                 5
Salamanca                 14
Santa Cruz de Tenerife    26
Segovia                    7
Sevilla                   11
Soria                      8
Tarragona                  7
Teruel                    16
Toledo                     4
Valladolid                 6
València/Valencia         13
Zamora                    10
Zaragoza                  12
Ávila                      8
Name: Estación, dtype: int64

In [47]:
#Total general
print("Total general de Estaciones: " + str(estacionProv.sum()))

Total general de Estaciones: 599